<div class="card card-bg-on text-dark text-center">
  <img
    src="assets/images/dragon_avatar.jpg"
    class="border-dotted-img"
    alt="dragon avatar"
    width="150"
  />
  <h3>@{{ dragon.name }}</h3>
  <div class="grid-2 m-1">
    <span (click)="showEditCard()" class="btn btn-light">Edit</span>
    <span (click)="showDeletedCard()" class="btn btn-danger">Delete</span>
  </div>

  <div>
    <span (click)="goToDetailsDragon()" class="btn btn-success btn-block"
      >Details</span
    >
  </div>
</div>
