<div class="card text-center">
  <img
    src="https://i.picsum.photos/id/993/100/100.jpg?hmac=g1ZNdJRveto6ZaVO15Cm2iwkPQtHG9GDoIgHqMzY-T4"
    alt=""
    class="round-img"
    style="width: 60px"
  />
  <h3>@{{ dragon.name }}</h3>
  <div class="grid-2 m-1">
    <span (click)="showEditCard()" class="btn btn-light">Edit</span>
    <span class="btn btn-danger">Delete</span>
  </div>

  <div>
    <span (click)="goToDetailsDragon()" class="btn btn-success btn-block"
      >Details</span
    >
  </div>
</div>
