<div>
  <button (click)="addDragon()" class="btn btn-success btn-block">
    Add Dragon
  </button>
</div>

<ng-container *ngIf="$showDeleteDragon | async as showDeleteDragon">
  <div *ngIf="showDeleteDragon">
    <app-delete-dragon
      [selectedDragon]="selectedDragon"
      (deleteDragonEmitter)="deleteDragon()"
    ></app-delete-dragon>
  </div>
</ng-container>

<ng-container *ngIf="$showEditDragonForm | async as showEditDragonForm">
  <div *ngIf="showEditDragonForm">
    <app-edit-dragon (editDragonEmitter)="editDragon($event)"></app-edit-dragon>
  </div>
</ng-container>

<div class="grid-3">
  <ng-container *ngFor="let dragon of dragons">
    <app-dragon-card [dragon]="dragon"></app-dragon-card>
  </ng-container>
</div>
